extends /layout

block content
    form(method='POST' action='/crear-envio')
        .bg-secondary       
            .container            
                h2.fw-bold.m-0.p-2.text-primary Crear envío                    
        .container.row.col-fluid-12.mt-3.mx-auto    
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Lugar de origen
                p.m-0 Elige un lugar de origen
                input#origen.btn-check(type='radio' name='options2' autocomplete='off' disabled=typeof(origin)=='undefined'? '':null)
                label.btn.btn-secondary.place.my-4.d-flex.flex-column.align-items-center.justify-content-center(for='origen' class=(typeof(origin)!='undefined') && 'bg-primary')
                    if typeof(origin)!='undefined'
                        p.fs-3.fw-bold.pt-4.mb-0 #{origin.nm_lkr} 
                        p.fs-6.pb-3 #{origin.dir_lkr} 
                    else
                        i.h1.bi.bi-building-fill
                        p Sin lugar seleccionado

                .container 
                    a.btn.btn-secondary.shadow.rounded-pill.text-white.fw-bold.fs-5.p-3.mx-0.w-100(href='/crear-envio/origen')
                        | SELECCIONAR ORIGEN
            
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Lugar de destino
                p.m-0 Elige un lugar de destino
                input#destino.btn-check(type='radio' name='options3' autocomplete='off' disabled=typeof(destination)=='undefined'? '':null)
                label.btn.btn-secondary.place.my-4.d-flex.flex-column.align-items-center.justify-content-center(for='destino' class=(typeof(destination)!='undefined') && 'bg-primary')
                    if typeof(destination)!='undefined'
                        p.fs-3.fw-bold.pt-4.mb-0 #{destination.nm_lkr} 
                        p.fs-6.pb-3 #{destination.dir_lkr} 
                    else
                        i.h1.bi.bi-building-fill
                        p Sin lugar seleccionado
                .container
                    a.btn.btn-secondary.shadow.rounded-pill.text-white.fw-bold.fs-5.p-3.mx-0.w-100(href='/crear-envio/destino')
                        | SELECCIONAR DESTINO
        .row.container.row.col-fluid-12.mt-5.mx-auto
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Remitente
                p.m-0 Elige un remitente
                input#origen.btn-check(type='radio' name='options2' autocomplete='off' disabled=typeof(sender)=='undefined'? '':null)
                label.btn.btn-secondary.place.my-4.d-flex.flex-column.align-items-center.justify-content-center(for='origen' class=(typeof(sender)!='undefined') && 'bg-primary')
                    if typeof(sender)!='undefined'
                        p.fs-3.fw-bold.pt-4.mb-0 #{sender.nm_cont}
                        p.fs-6.pb-3 #{sender.em_cont}
                    else
                        i.h1.bi.bi-person-fill
                        p Sin remitente seleccionado
        
                .container 
                    a.btn.btn-secondary.shadow.rounded-pill.text-white.fw-bold.fs-5.p-3.mx-0.w-100(href='/crear-envio/remitente')
                        | SELECCIONAR REMITENTE
            
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Destinatario
                p.m-0 Elige un destinatario
                input#destino.btn-check(type='radio' name='options3' autocomplete='off' disabled=typeof(receiver)=='undefined'? '':null)
                label.btn.btn-secondary.place.my-4.d-flex.flex-column.align-items-center.justify-content-center(for='destino' class=(typeof(receiver)!='undefined') && 'bg-primary')
                    if typeof(receiver)!='undefined'
                        p.fs-3.fw-bold.pt-4.mb-0 #{receiver.nm_cont}
                        p.fs-6.pb-3 #{receiver.em_cont}
                    else
                        i.h1.bi.bi-person-fill
                        p Sin destinatario selecciona

                .container 
                    a.btn.btn-secondary.shadow.rounded-pill.text-white.fw-bold.fs-5.p-3.mx-0.w-100(href='/crear-envio/destinatario')
                        | SELECCIONAR DESTINATARIO
                        
        - 
            let sizes = [
                { 
                    'id': '1',
                    'name': 'Chico',
                    'sign': 's',
                    'height': 10,
                    'width': 40,
                    'depth': 60,
                    'weight': 15 
                },
                { 
                    'id': '2',
                    'name': 'Mediano',
                    'sign': 'm',
                    'height': 20,
                    'width': 40,
                    'depth': 60,
                    'weight': 15 
                },
                { 
                    'id': '3',
                    'name': 'Grande',
                    'sign': 'l',
                    'height': 30,
                    'width': 40,
                    'depth': 60,
                    'weight': 15 
                },
            ]
        .container.row.col-fluid-12.mt-3.mx-auto
            h3.fw-bold.mt-5 Tamaño del paquete
            p.m-0 Selecciona un tamaño de locker
            
            .wrapper.Paquetes.p-0
                for msyze in sizes
                    input.btn-check(type='radio' name='size' autocomplete='off' id='option'+msyze.sign value=msyze.id 
                        disabled=typeof(origin)=='undefined'||typeof(destination)=='undefined'? '':null
                        checked=typeof(size)!='undefined'&&size.id_drtype==msyze.id? '':null
                        )
                    label.btn.btn-secondary.d-flex.flex-column.align-items-center.justify-content-center(class='TamañoPaquete' for='option'+msyze.sign)
                        h3.fw-bold #{msyze.name}
                        img.boxSize(src="/images/package-"+msyze.sign+".svg")
                        p.fs-5.fw-bold.pt-4.mb-0 Medidas máximas
                        .row.w-100
                            .col
                                p.m-0.p-0.fw-semibold Alto
                                p.m-0.p-0 #{msyze.height} cm
                            .col
                                p.m-0.p-0.fw-semibold Ancho
                                p.m-0.p-0 #{msyze.width} cm
                            .col
                                p.m-0.p-0.fw-semibold Largo
                                p.m-0.p-0 #{msyze.depth} cm
                            .col
                                p.m-0.p-0.fw-semibold Peso
                                p.m-0.p-0 #{msyze.weight} kg
            .d-flex.mb-4.mt-3.p-0.justify-content-end.gap-3
                button.col-5.col-md-3.fw-bold.fs-5.rounded-pill.p-3.btn.btn-danger(type='reset' onclick='history.back()') CANCELAR
                button.col-5.col-md-3.fw-bold.fs-5.rounded-pill.p-3.btn.btn-primary(type='submit') PAGAR
                //- a.col-6.text-decoration-none(href='/panel')
                //-     center
                //-         h5.fw-bold.align-items-center.justify-content-center.btn.btn-warning.shadow.rounded-pill.textButton CANCELAR
                //- .col-6.text-decoration-none
                //-     button.fw-bold.align-items-center.justify-content-center.btn.btn-secondary.shadow.rounded-pill.textButton(type='submit') CONTINUAR

block scripts
    script(src='/javascripts/googleMaps.js')
    script(src='/javascripts/validation.js')
    script(async src="https://maps.googleapis.com/maps/api/js?libraries=places,visualization&key=&v=weekly&callback=initMap")
    script(async src ="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyAEErsjNBLnxa3y-N2LFDpENunDEE8SDAs")