extends /layout

block content
    .bg-secondary       
        .container            
            h2.fw-bold.m-0.p-2.text-primary Crear envío                    
    form
        .container.row.col-fluid-12.mt-3.mx-auto    
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Lugar de origen
                p.m-0 Elige un lugar de origen
                input#origen.btn-check(type='radio' name='options2' autocomplete='off' disabled=typeof(origin)=='undefined'? '':null)
                if typeof(origin)=='undefined'
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center(for='origen')
                        i.h1.bi.bi-building-fill
                        p Sin lugar seleccionado
                else
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center.bg-primary(for='origen')
                        p.fw-bold #{origin.nm_lkr} 
                        p #{origin.dir_lkr} 
                a.text-decoration-none(href='/crear-envio/origen')
                    .row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.p-3.ms-3.me-3.shadow.rounded-pill
                        h5.fw-bold.text-white.m-0.p-0 CAMBIAR ORIGEN
            
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Lugar de destino
                p.m-0 Elige un lugar de destino
                input#destino.btn-check(type='radio' name='options3' autocomplete='off' disabled=typeof(destination)=='undefined'? '':null)
                if typeof(destination)=='undefined'
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center(for='destino')
                        i.h1.bi.bi-building-fill
                        p Sin lugar seleccionado
                else
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center.bg-primary(for='destino')
                        p.fw-bold #{destination.nm_lkr} 
                        p #{destination.dir_lkr} 

                a.text-decoration-none(href='/crear-envio/destino')
                    .row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.p-3.ms-3.me-3.shadow.rounded-pill
                        h5.fw-bold.text-white.m-0.p-0 CAMBIAR DESTINO
        .row.container.row.col-fluid-12.mt-5.mx-auto
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Remitente
                p.m-0 Elige un remitente
                input#origen.btn-check(type='radio' name='options2' autocomplete='off' disabled=typeof(sender)=='undefined'? '':null)
                if typeof(sender)=='undefined'
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center(for='origen')
                        i.h1.bi.bi-person-fill
                        p Sin remitente seleccionado
                else
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center.bg-primary(for='origen')
                        p.fw-bold #{sender.nm_cont} 
                        p #{sender.em_cont} 
                a.text-decoration-none(href='/crear-envio/remitente')
                    .row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.p-3.ms-3.me-3.shadow.rounded-pill
                        h5.fw-bold.text-white.m-0.p-0 CAMBIAR REMITENTE
            
            .col-lg-6.col-md-6.mt-3
                h3.fw-bold Destinatario
                p.m-0 Elige un destinatario
                input#destino.btn-check(type='radio' name='options3' autocomplete='off' disabled=typeof(receiver)=='undefined'? '':null)
                if typeof(receiver)=='undefined'
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center(for='destino')
                        i.h1.bi.bi-person-fill
                        p Sin destinatario selecciona
                else
                    label.btn.btn-secondary.place.d-flex.flex-column.align-items-center.justify-content-center.bg-primary(for='destino')
                        p.fw-bold #{receiver.nm_cont} 
                        p #{receiver.em_cont} 

                a.text-decoration-none(href='/crear-envio/destinatario')
                    .row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.p-3.ms-3.me-3.shadow.rounded-pill
                        h5.fw-bold.text-white.m-0.p-0 CAMBIAR DESTINATARIO

    - 
        let sizes = [
            { 
                'name': 'Chico',
                'sign': 's',
                'height': 10,
                'width': 40,
                'depth': 60,
                'weight': 15 
            },
            { 
                'name': 'Mediano',
                'sign': 'm',
                'height': 20,
                'width': 40,
                'depth': 60,
                'weight': 15 
            },
            { 
                'name': 'Grande',
                'sign': 'l',
                'height': 30,
                'width': 40,
                'depth': 60,
                'weight': 15 
            },
        ]
    .container.row.col-fluid-12.mt-3.mx-auto
        h3.fw-bold.mt-5 Tamaño del paquete
        p.m-0 Selecciona un tamaño de locker
        form 
            .wrapper.Paquetes.p-0
                for size in sizes
                    input.btn-check(type='radio' name='size' autocomplete='off' id='option'+size.sign disabled=typeof(origin)=='undefined'||typeof(destination)=='undefined'? '':null)
                    label.btn.btn-secondary.d-flex.flex-column.align-items-center.justify-content-center(class='TamañoPaquete' for='option'+size.sign)
                        h3.fw-bold #{size.name}
                        img.boxSize(src="/images/package-"+size.sign+".svg")
                        p.fw-bold.pt-4 Medidas máximas
                        .row
                            .col
                                p.m-0.p-0.fw-bold1 Altura
                                p.m-0.p-0 #{size.height} cm
                            .col
                                p.m-0.p-0.fw-bold1 Anchura
                                p.m-0.p-0 #{size.width} cm
                            .col
                                p.m-0.p-0.fw-bold1 Peso
                                p.m-0.p-0 #{size.weight} kg
                            .col
                                p.m-0.p-0.fw-bold1 Profundidad
                                p.m-0.p-0 #{size.depth} cm
        .row-12.d-flex.mb-4.mt-3
            a.col-6.text-decoration-none(href='/panel')
                center
                    h5.fw-bold.align-items-center.justify-content-center.btn.btn-warning.shadow.rounded-pill.textButton CANCELAR
            a.col-6.text-decoration-none(href='/crear-envio/resumen')
                center
                    h5.fw-bold.align-items-center.justify-content-center.btn.btn-secondary.shadow.rounded-pill.textButton CONTINUAR


    //- .container.py-5
    //-     h1.fw-bold Resumen del env&iacute;o
    //-     .row.d-flex.justify-content-center
    //-         .col-md-9.col-lg-7.col-xl-5
    //-             .card(style='background-color:rgba(255, 251, 239, 1);')
    //-                 .rounded-bottom
    //-                     .card-body
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' 
    //-                                 onclick="location.href = '/panel/envio/crearEnvio/createSender';") Remitente:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Juan Daniel Del Valle
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;'
    //-                                 onclick="location.href = '/panel/envio/crearEnvio/createAddresse';") Destinatario:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Jose Rios Perez
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' 
    //-                                 onclick="location.href = '/panel/envio/crearEnvio/createSize';") Tama&ntilde;o del locker:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Mediano
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='') Lugar de origen:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Plaza Antenas
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='') Lugar de destino:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Plaza Garden
    //-                         .row
    //-                             .col-4.form-outline.mb-3
    //-                             .col-4.form-outline.mb-3
    //-                                 h2.fw-bold(style='color: #CAA400;') Costo:
    //-                             .col-4.form-outline.mb-3
    //-                                 h2.fw-bold(style='color: #212E46; text-align: left;') $100.00
    //- .row
    //-     .col.form-outline.mb-3
    //-     .col-10.form-outline.mb-3(style='color: #A8A8A8; text-align: center;')
    //-         p
    //-             | *Una vez confirmado el env&iacute;o se contar&aacute; con 24 horas
    //-             | para depositar el paquete en el locker, de lo contrario se
    //-             | cancelar&aacute; la solicitud y no habr&aacute; devoluci&oacute;n.
    //-     .col.form-outline.mb-3

    //- .d-grid.gap-2.col-6.mx-auto
    //-     button.btn.btn-primary.btn-lg.rounded-5.px-2.my-0.px-4(type='submit' style='background-color: #212E46;')
    //-         .fw-bold(style='color: #FFFFFF') Confirmar envio


block scripts
    script(src='/javascripts/googleMaps.js')
    script(src='/javascripts/validation.js')
    script(async src="https://maps.googleapis.com/maps/api/js?libraries=places,visualization&key=&v=weekly&callback=initMap")
    script(async src ="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyAEErsjNBLnxa3y-N2LFDpENunDEE8SDAs")