extends layout

block content
	.container
		if user.type == 'ADMIN'
			p.nameUser Admin Dashboard

		else if user.type == 'DELIVERER'
			if stateRoute.length == 0   
				.row(data-masonry='{"percentPosition": true }' style='position: relative; height: 690px;')
					.col-sm-6.col-lg-4.mb-4(style='position: absolute; left: 0%; top: 0px;')
						.card.text-bg-warning.text-center
							.card-body
								h5.card-title Ruta
								p.card-text No tienes ninguna ruta asignada de momento.
								p.card-text
									small.text-muted Last updated 3 mins ago 
			else


				.bg-primary.d-flex.p-2.rounded.justify-content-center
					h2.fw-bold.m-0 Ruta De Hoy
					
				- let lockerc = 0

				
				ul.pt-3.StepProgress.align-items-centerpb-3
	
					each locker, i in stateRoute 
						if i + 1 >= stateRoute.length
							if locker.stat_rte == 1
								.StepProgress-item.is-done.b-line
									a.strong(href='/panel/repartidor/lockersnm/'+locker.nm_lkr) 
										p.text-ruta=locker.nm_lkr
								 			
							else
								.StepProgress-item.current.b-line
									a.strong(href='/panel/repartidor/lockersnm/'+locker.nm_lkr) 
										p.text-ruta=locker.nm_lkr


						else if locker.stat_rte == 1
							.StepProgress-item.is-done
								a.strong(href='/panel/repartidor/lockersnm/'+locker.nm_lkr) 
									p.text-ruta=locker.nm_lkr
						else
							.StepProgress-item.current.d-none
								strong.d-none= locker.nm_lkr
							.StepProgress-item.current
								strong=locker.nm_lk
								

							- lockerc++
							
		else if user.type == 'CLIENT'
			.bg-primary
				.pt-3.container.pb-3
					h1.nameUser Bienvenido #{user.name}
					p.mt-1.mb-1 Rastrear envío
					form#num_g.form-group.mt-0(action='/envio' method='POST' novalidate)
						.input-group
							.form-floating
								input#num_guia.form-control(type='text' name='tracking' onkeyup='search_shipping(event)' placeholder='Ingrese número de guía')
								label(for='num_guia') Número de guía
								.invalid-tooltip
							button.input-group-text.btn.btn-secondary(type="submit" onclick='search_shipping(event)') Buscar
						
						
						//- .form-floating
						//- 	.input-group.mb-3
						//- 		input#num_guia.form-control(type='text' name='tracking' placeholder='Ingrese número de guía' onkeyup='search_shipping(event)')
						//- 		//- label.text-dark(for='num_guia') Rastrear envío
						//- 		div.input-group-append
						//- 			button.btn.btn-secondary(type="submit" onclick='search_shipping(event)' ) Buscar
						//- 		.invalid-tooltip
			

			h4.pt-3.container Envíos en curso
			.wrapper.container 
				each val in pedingShipings
				
					a.text-decoration-none(href='/envio/'+val.trk_shpg)
						.item.row.d-flex.align-items-center.justify-content-center(style='min-width: 380px;')
							.col-4.p-0
								img(style='max-height: 120px;' src='https://img.freepik.com/vector-premium/icono-vector-arte-linea-camion-entrega-envio-rapido-aplicaciones-sitios-web-transporte_652240-16.jpg')
							.col-8.p-0
								each num, key in  {1 : 'En espera de recolección', 2 : 'En espera de transportista', 3 : 'En tránsito', 4 : 'En espera de recepción', 5 : 'Completado', 6 : 'Almacén', 7 : 'Cancelado'}
									if key == val.stat_shpg
										p.card-text.text-center.m-0.text-status= num
								h6.card-title.card-text.text-center.text-secondary= val.trk_shpg
								small.text-muted Origen: #{val.nm_lkrorg}
								br
								small.text-muted Destino: #{val.nm_lkrdst} 
								br
								small.text-muted Última actualización: #{val.dtu_shpg}
								//- br
								//- small.text-muted 00:00 PM - 00/00/0000
				
				else 
					h4.pt-2.pb-2.container No hay envios en curso :(


			.container.align-items-center.justify-content-center
				a.text-decoration-none(href='/crear-envio')
					.item.row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.m-3.text-primary.p-3
						.col-4
							i.h1.bi.bi-box-seam-fill.icons
						.col-8
							h5.fw-bold.m-0.p-0 CREAR ENVÍO
				a.text-decoration-none(href='#')
					.item.row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.m-3.text-primary.p-3
						.col-4
							i.h1.bi.bi-clock-history.icons
						.col-8
							h5.fw-bold.m-0.p-0 HISTORIAL DE ENVÍOS
				a.text-decoration-none(href='/panel/informacion')
					.item.row.d-flex.align-items-center.justify-content-center.btn.btn-primary.m-3.p-3
						.col-4
							i.h1.bi.bi-emoji-smile-fill.icons
						.col-8
							h5.fw-bold.text-secondary.m-0.p-0 ¿CÓMO FUNCIONA?

				//- a.text-decoration-none(href='/panel/envio/crearEnvio')
				//- 	.item.row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.m-5.p-3.shadow.rounded-pill
				//- 		h5.fw-bold.text-white.m-0.p-0 CONTINUAR
		else
			| Usuario desconocido


block scripts
	script const user = !{JSON.stringify(user)}
	script(src='/javascripts/validation.js')
