extends layout

block content
	
		if user.type == 'ADMIN'
			p.nameUser Admin Dashboard

		else if user.type == 'DELIVER'
			if stateRoute.length == 0   
				.row(data-masonry='{"percentPosition": true }' style='position: relative; height: 690px;')
					.col-sm-6.col-lg-4.mb-4(style='position: absolute; left: 0%; top: 0px;')
						.card.text-bg-warning.text-center
							.card-body
								h5.card-title Ruta
								p.card-text No tienes ninguna ruta asignada de momento.
								p.card-text
									small.text-muted Last updated 3 mins ago 
			else
				p Rutas a realizar
				- let lockerc = 0
				ul.StepProgress
					each locker, i in stateRoute 
						if i + 1 >= stateRoute.length
							if locker.stat_rte == 1
								.StepProgress-item.is-done.b-line
									a.strong(href='/panel/repartidor/lockersnm/'+locker.nm_lkr) 
										p.text-status=locker.nm_lkr
								 
									
							else
								.StepProgress-item.current.b-line
									a.strong(href='/panel/repartidor/lockersnm/'+locker.nm_lkr) 
										p.text-status=locker.nm_lkr


						else if locker.stat_rte == 1
							.StepProgress-item.is-done
								a.strong(href='/panel/repartidor/lockersnm/'+locker.nm_lkr) 
									p.text-status=locker.nm_lkr
						else
							.StepProgress-item.current.d-none
								strong.d-none= locker.nm_lkr
							.StepProgress-item.current
								strong=locker.nm_lk
								

							- lockerc++

						

							


					
							
												
		else if user.type == 'CLIENT'
			.bg-primary
				.pt-3.container.pb-3
					h1.nameUser Bienvenido #{user.name}
					
					.form-group
						label Rastrear envío
						input#exampleInputEmail1.form-control(type='text' placeholder='Ingrese número de guía')
						//- small#emailHelp.form-text.text-muted Podemos poner algo interesante aquí
			
			-
				let pedingShipings = [
					{
					'stat_shpg': 'EN TRÁNSITO',
					'trk_shpg': '202212150310001002'
					},
					{'stat_shpg': 'EN TRÁNSITO',
					'trk_shpg': '202212080735001002'
					},
					{'stat_shpg': 'EN TRÁNSITO',
					'trk_shpg': '202212190127001003'
					},
					{'stat_shpg': 'EN TRÁNSITO',
					'trk_shpg': '202212010240002003'
					},
					{'stat_shpg': 'EN TRÁNSITO',
					'trk_shpg': '202212221045001003'
					},
				]

			h4.pt-3.container Enviós en curso
			.wrapper.container 
				each val in pedingShipings 
					a.text-decoration-none(href='/panel/envio/detalles/'+val.trk_shpg)
						.item.row.d-flex.align-items-center.justify-content-center(style='min-width: 380px;')
							.col-4.p-0
								img(style='max-height: 120px;')(src='https://img.freepik.com/vector-premium/icono-vector-arte-linea-camion-entrega-envio-rapido-aplicaciones-sitios-web-transporte_652240-16.jpg')
							.col-8.p-0
								p.card-text.text-center.m-0.text-status= val.stat_shpg
								h6.card-title.card-text.text-center.text-secondary= val.trk_shpg
								small.text-muted Origen: #{nm_lkrorg}
								br
								small.text-muted Destino: #{nm_lkrdst} 
								br
								small.text-muted Última actualización: #{dtu_shpg}
								br
								small.text-muted 00:00 PM - 00/00/0000
				
				else 
					h4.pt-2.pb-2.container No hay envios en curso :


			.container
				a.text-decoration-none(href='/panel/envio/crearEnvio')
					.item.row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.m-3
						p.text-start.fs-3.text-center.fw-bold(style='color:#FFFFFF') Crear envio
				a.text-decoration-none(href='/panel/envio/crearEnvio')
					.item.row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.m-3
						p.text-start.fs-3.text-center.fw-bold(style='color:#FFFFFF') Historial de envíos
				a.text-decoration-none(href='/panel/envio/crearEnvio')
					.item.row.d-flex.align-items-center.justify-content-center.btn.btn-secondary.m-3
						p.text-start.fs-3.text-center.fw-bold(style='color:#FFFFFF') ¿Cómo funciona?
		else
			| Usuario desconocido


block scripts
	script const user = !{JSON.stringify(user)}
	script(src='/javascripts/validation.js')

