extends layout


block content
    form(action='/panel/actualizar' method='POST' novalidate)
        input(type="hidden" value=shipping.stat_shpg name='name' id='id')
        input(type="hidden" value=shipping.trk_shpg name='tkr' id='tkr')

        //- button.btn.btn-primary.btn-lg(onclick="stateAct()") Estado actual
        button.btn.btn-primary.btn-lg(onclick='senemail()') Siguiente estado

block scripts
    script const user = !{JSON.stringify(user)}
    script(src='/javascripts/validation.js')
    script.
        //- function stateAct() {
        //-     var num=parseInt(document.getElementById("id").value); 
        //-     alert(num);
        //- }

        function senemail() {
            var num=parseInt(document.getElementById("id").value++); 
            alert(num);
            
            if (num>=7) {
                num=1;
                document.getElementById("id").value=num;
            }

            document.querySelector("form").submit()
        }

        //- const mailer = require('../modules/SendGmailV');
    //- return 