extends layout

block content
    if typeof(shipping) == 'undefined'
        include /include/not_found
    else 
        .bg-secondary       
            .container            
                h2.fw-bold.m-0.p-2.text-primary Detalles de envío  
        .container
            .row.mt-3.mb-3
                div.detalles.col-sm-6.col-xs-12
                    p Número de guía: 
                        small.text-muted #{shipping.trk_shpg}
                    p Remitente: 
                        small.text-muted #{shipping.nm_contorg}
                    p Destinatario: 
                        small.text-muted #{shipping.nm_contdst}
                    p Lugar de origen: 
                        small.text-muted #{shipping.nm_lkrorg}
                    p Lugar de destino: 
                        small.text-muted #{shipping.nm_lkrdst}
                    p Tipo de envío: 
                        small.text-muted #{shipping.nm_shpgtype}
                    p Fecha de creación: 
                        small.text-muted #{shipping.dts_shpg}
                div.detalles.col-sm-6.col-xs-12
                    p Altura del paquete: 
                        small.text-muted #{shipping.hgt_drtype} cm
                    p Ancho del paquete: 
                        small.text-muted #{shipping.wd_drtype} cm
                    p Profundidad del paquete: 
                        small.text-muted #{shipping.deep_drtype} cm
                    //- p Peso del paquete: 
                    //-     small.text-muted #{shipping.wt_drtype} kg
                    p Precio: 
                        small.text-muted $ #{shipping.pr_shpg} mx
                    p.d-inline Método de pago: 
                    each dig, index in shipping.num_wal
                        if index%4==0
                           small.inline.text-muted  
                        if index<12
                            small.inline.text-muted *
                        else
                            small.inline.text-muted=dig

            .d-flex.justify-content-center.bg-primary.rounded.p-2
                h5.fw-bold.text-secondary.m-0 Trayectoria

            -let n = shipping.stat_shpg
            .process
                ul.StepProgress
                    each num, key in  {1 : 'En espera de recolección', 2 : 'En espera del repartidor', 3 : 'En tránsito', 4 : 'En espera de recepción', 5 : 'Completado', 6 : 'En Almacén', 7 : 'Cancelado'}
                        
                        if n==7
                            .StepProgress-item.current.d-none
                            if key == n
                                .StepProgress-item.is-cancel.b-line
                                    strong= num
                                        p.bg-secondary.rounded Actualización
                                        p.update Fecha y hora: #{shipping.dtu_shpg}

                        else if n==6
                            .StepProgress-item.current.d-none
                            if key == n
                                .StepProgress-item.is-store.b-line
                                    strong= num
                                        p.bg-secondary.rounded Actualización:
                                        p.update Fecha y hora: #{shipping.dtu_shpg}  
                        
                        else if n > 0
                            if key != 5
                                if key==1
                                    .StepProgress-item.is-done.is-done-1
                                        strong= num
                                        -n-- 
                                        if n == 0
                                            p.bg-secondary.rounded Actualización
                                            p.update Fecha y hora: #{shipping.dtu_shpg} 
                                else if key==2
                                    .StepProgress-item.is-done.is-done-2
                                        strong= num
                                        -n-- 
                                        if n == 0
                                            p.bg-secondary.rounded Actualización
                                            p.update Fecha y hora: #{shipping.dtu_shpg} 
                                else if key==3
                                    .StepProgress-item.is-done.is-done-3
                                        strong= num
                                        -n-- 
                                        if n == 0
                                            p.bg-secondary.rounded Actualización
                                            p.update Fecha y hora: #{shipping.dtu_shpg} 
                                else if key==4
                                    .StepProgress-item.is-done.is-done-4
                                        strong= num
                                        -n-- 
                                        if n == 0
                                            p.bg-secondary.rounded Actualización
                                            p.update Fecha y hora: #{shipping.dtu_shpg}  
                            else
                                .StepProgress-item.is-done.is-done-5.b-line
                                    strong= num
                                    -n-- 
                                    if n == 0
                                        p.bg-secondary.rounded Actualización
                                        p.update Fecha y hora: #{shipping.dtu_shpg}  

                        else
                            if key<6
                                if key==1
                                    .StepProgress-item.current.is-current-1
                                        strong= num
                                        -n--                                         
                                else if key==2
                                    .StepProgress-item.current.is-current-2
                                        strong= num
                                        -n--                                         
                                else if key==3
                                    .StepProgress-item.current.is-current-3
                                        strong= num
                                        -n--                     
                                else if key==4
                                    .StepProgress-item.current.is-current-4
                                        strong= num
                                        -n--                                         
                                else if key==5
                                    .StepProgress-item.current.is-current-5
                                        strong= num
                                        -n-- 
            if shipping.stat_shpg==1 || shipping.stat_shpg==4
                form(action='/envio/'+shipping.trk_shpg method='POST')
                    input(type='hidden' name='stat' value=shipping.stat_shpg)
                    input(type='hidden' name='tracking' value=shipping.trk_shpg)
                    input(type="hidden" name="url" value=path)
                    .d-flex.justify-content-center.mt-5.mb-1
                        h3.fw-bold Código QR
                    .d-flex.justify-content-center.mb-0.mt-1
                        img.qr-img(width='300' height='300' data-text=(shipping.qr_org||shipping.qr_dst))
                    .d-flex.justify-content-center.mb-5.mt-0
                        h5.fs-6.fw-bold.text-secondary.m-0 Código de envío: #{shipping.qr_org||shipping.qr_dst}
                    .d-flex.justify-content-center
                        button.btn.btn-secondary.btn-lg.active.mb-5(type='submit' aria-pressed='true')= shipping.stat_shpg!=1 ? 'Recolectar' : 'Entregar'

block scripts
    script(src="/javascripts/validation.js") 
    script(src='/javascripts/qrcode.js')    //- 1er script
    script(src='/javascripts/qr.js')        //- 2do script