extends layout

block content
    form(action='/panel/'+path method='POST' novalidate)
        input(type="hidden" value=shipping.stat_shpg name='name' id='id')
        input(type="hidden" value=shipping.trk_shpg name='tkr' id='tkr')

        .container
            if typeof(shipping) == 'undefined'
                include /include/not_found

            else
                .row
                    .col-9 
                    .bg-primary.d-flex.p-2.rounded.justify-content-center.mb-3
                        h2.fw-bold.m-0  Detalles Envío
                    p Número De Guía : 
                        strong=shipping.trk_shpg
                    p Altura De Paquete : 
                        strong #{shipping.hgt_drtype} cm
                    p Ancho Del Paquete : 
                        strong #{shipping.wd_drtype} cm
            
                    p Profundidad Del Paquete : 
                        strong #{shipping.deep_drtype} cm
                    
                        
                    if shipping.stat_shpg==2 || shipping.stat_shpg==3
                        .d-flex.justify-content-center.mb-0.mt-1
                            img.qr-img(width='300' height='300' data-text=(shipping.qr_org||shipping.qr_dst))
                        .d-flex.justify-content-center.mb-5.mt-0
                            h5.fs-6.fw-bold.text-secondary.m-0 Código de envío: #{shipping.qr_org||shipping.qr_dst}
                        .d-flex.justify-content-center
                            button.btn.btn-secondary.btn-lg.active.mb-5(type='submit' aria-pressed='true')= shipping.stat_shpg==2 ? 'Recolectar' : 'Entregar'
                    else 
                        .d-flex.justify-content-center
                            |Ninguna acción ha realizar

                        //- img.qr-img.qr-imgrounded.mx-auto.d-block( width="350" VSPACE="30" alt="Responsive image" data-text= (shipping.qr_dst || shipping.qr_org))
                            center 
                            h5.fs-6.fw-bold.text-secondary.m-0 Código de envío: #{shipping.qr_org||shipping.qr_dst}
                    //- .text-center
                    
                        if shipping.stat_shpg == 2
                            button.btn.btn-secondary.btn-lg.active.mb-5(type='submit' aria-pressed='true') Recolectar
                        
                            
                        else if shipping.stat_shpg == 3
                            button.btn.btn-primary.btn-lg.active.separar.mb-5(type='submit' aria-pressed='true') Entrega
                        
                        else 
                            |Ninguna acción ha realizar
                            
                    .col-4               
                
                    .col-6           
                    
                    .col-8

                        a.btn.btn-danger.mt-5(type='button' href=`/panel/repartidor/guia/report/${shipping.trk_shpg}`) Reportar inconveniente

    
block scripts
    script(src='/javascripts/validation.js')    //- 1er script
    script(src='/javascripts/qrcode.js')    //- 1er script
    script(src='/javascripts/qr.js')        //- 2do script
    
                        
                   

